<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lps.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.lps.po.Customer">
        <id column="cust_id" property="custId" jdbcType="INTEGER"/>
        <result column="cust_name" property="custName" jdbcType="VARCHAR"/>
        <result column="cust_username" property="custUsername" jdbcType="VARCHAR"/>
        <result column="cust_password" property="custPassword" jdbcType="VARCHAR"/>
        <result column="cust_phone" property="custPhone" jdbcType="VARCHAR"/>
        <result column="cust_email" property="custEmail" jdbcType="VARCHAR"/>
        <result column="cust_sex" property="custSex" jdbcType="CHAR"/>
        <result column="cust_birth" property="custBirth" jdbcType="DATE"/>
        <result column="cust_address" property="custAddress" jdbcType="VARCHAR"/>
        <result column="cust_pic" property="custPic" jdbcType="VARCHAR"/>
        <result column="cust_create" property="custCreate" jdbcType="DATE"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    cust_id, cust_name, cust_username, cust_password, cust_phone, cust_email, cust_sex, 
    cust_birth, cust_address, cust_pic, cust_create
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lps.po.CustomerExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from customer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from customer
        where cust_id = #{custId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where cust_id = #{custId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.lps.po.CustomerExample">
        delete from customer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.lps.po.Customer">
    insert into customer (cust_id, cust_name, cust_username, 
      cust_password, cust_phone, cust_email, 
      cust_sex, cust_birth, cust_address, 
      cust_pic, cust_create)
    values (#{custId,jdbcType=INTEGER}, #{custName,jdbcType=VARCHAR}, #{custUsername,jdbcType=VARCHAR}, 
      #{custPassword,jdbcType=VARCHAR}, #{custPhone,jdbcType=VARCHAR}, #{custEmail,jdbcType=VARCHAR}, 
      #{custSex,jdbcType=CHAR}, #{custBirth,jdbcType=DATE}, #{custAddress,jdbcType=VARCHAR}, 
      #{custPic,jdbcType=VARCHAR}, #{custCreate,jdbcType=DATE})
  </insert>
    <insert id="insertSelective" parameterType="com.lps.po.Customer">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="custId != null">
                cust_id,
            </if>
            <if test="custName != null">
                cust_name,
            </if>
            <if test="custUsername != null">
                cust_username,
            </if>
            <if test="custPassword != null">
                cust_password,
            </if>
            <if test="custPhone != null">
                cust_phone,
            </if>
            <if test="custEmail != null">
                cust_email,
            </if>
            <if test="custSex != null">
                cust_sex,
            </if>
            <if test="custBirth != null">
                cust_birth,
            </if>
            <if test="custAddress != null">
                cust_address,
            </if>
            <if test="custPic != null">
                cust_pic,
            </if>
            <if test="custCreate != null">
                cust_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="custId != null">
                #{custId,jdbcType=INTEGER},
            </if>
            <if test="custName != null">
                #{custName,jdbcType=VARCHAR},
            </if>
            <if test="custUsername != null">
                #{custUsername,jdbcType=VARCHAR},
            </if>
            <if test="custPassword != null">
                #{custPassword,jdbcType=VARCHAR},
            </if>
            <if test="custPhone != null">
                #{custPhone,jdbcType=VARCHAR},
            </if>
            <if test="custEmail != null">
                #{custEmail,jdbcType=VARCHAR},
            </if>
            <if test="custSex != null">
                #{custSex,jdbcType=CHAR},
            </if>
            <if test="custBirth != null">
                #{custBirth,jdbcType=DATE},
            </if>
            <if test="custAddress != null">
                #{custAddress,jdbcType=VARCHAR},
            </if>
            <if test="custPic != null">
                #{custPic,jdbcType=VARCHAR},
            </if>
            <if test="custCreate != null">
                #{custCreate,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.lps.po.CustomerExample" resultType="java.lang.Integer">
        select count(*) from customer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update customer
        <set>
            <if test="record.custId != null">
                cust_id = #{record.custId,jdbcType=INTEGER},
            </if>
            <if test="record.custName != null">
                cust_name = #{record.custName,jdbcType=VARCHAR},
            </if>
            <if test="record.custUsername != null">
                cust_username = #{record.custUsername,jdbcType=VARCHAR},
            </if>
            <if test="record.custPassword != null">
                cust_password = #{record.custPassword,jdbcType=VARCHAR},
            </if>
            <if test="record.custPhone != null">
                cust_phone = #{record.custPhone,jdbcType=VARCHAR},
            </if>
            <if test="record.custEmail != null">
                cust_email = #{record.custEmail,jdbcType=VARCHAR},
            </if>
            <if test="record.custSex != null">
                cust_sex = #{record.custSex,jdbcType=CHAR},
            </if>
            <if test="record.custBirth != null">
                cust_birth = #{record.custBirth,jdbcType=DATE},
            </if>
            <if test="record.custAddress != null">
                cust_address = #{record.custAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.custPic != null">
                cust_pic = #{record.custPic,jdbcType=VARCHAR},
            </if>
            <if test="record.custCreate != null">
                cust_create = #{record.custCreate,jdbcType=DATE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update customer
        set cust_id = #{record.custId,jdbcType=INTEGER},
        cust_name = #{record.custName,jdbcType=VARCHAR},
        cust_username = #{record.custUsername,jdbcType=VARCHAR},
        cust_password = #{record.custPassword,jdbcType=VARCHAR},
        cust_phone = #{record.custPhone,jdbcType=VARCHAR},
        cust_email = #{record.custEmail,jdbcType=VARCHAR},
        cust_sex = #{record.custSex,jdbcType=CHAR},
        cust_birth = #{record.custBirth,jdbcType=DATE},
        cust_address = #{record.custAddress,jdbcType=VARCHAR},
        cust_pic = #{record.custPic,jdbcType=VARCHAR},
        cust_create = #{record.custCreate,jdbcType=DATE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.lps.po.Customer">
        update customer
        <set>
            <if test="custName != null">
                cust_name = #{custName,jdbcType=VARCHAR},
            </if>
            <if test="custUsername != null">
                cust_username = #{custUsername,jdbcType=VARCHAR},
            </if>
            <if test="custPassword != null">
                cust_password = #{custPassword,jdbcType=VARCHAR},
            </if>
            <if test="custPhone != null">
                cust_phone = #{custPhone,jdbcType=VARCHAR},
            </if>
            <if test="custEmail != null">
                cust_email = #{custEmail,jdbcType=VARCHAR},
            </if>
            <if test="custSex != null">
                cust_sex = #{custSex,jdbcType=CHAR},
            </if>
            <if test="custBirth != null">
                cust_birth = #{custBirth,jdbcType=DATE},
            </if>
            <if test="custAddress != null">
                cust_address = #{custAddress,jdbcType=VARCHAR},
            </if>
            <if test="custPic != null">
                cust_pic = #{custPic,jdbcType=VARCHAR},
            </if>
            <if test="custCreate != null">
                cust_create = #{custCreate,jdbcType=DATE},
            </if>
        </set>
        where cust_id = #{custId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lps.po.Customer">
    update customer
    set cust_name = #{custName,jdbcType=VARCHAR},
      cust_username = #{custUsername,jdbcType=VARCHAR},
      cust_password = #{custPassword,jdbcType=VARCHAR},
      cust_phone = #{custPhone,jdbcType=VARCHAR},
      cust_email = #{custEmail,jdbcType=VARCHAR},
      cust_sex = #{custSex,jdbcType=CHAR},
      cust_birth = #{custBirth,jdbcType=DATE},
      cust_address = #{custAddress,jdbcType=VARCHAR},
      cust_pic = #{custPic,jdbcType=VARCHAR},
      cust_create = #{custCreate,jdbcType=DATE}
    where cust_id = #{custId,jdbcType=INTEGER}
  </update>

    <!--自定义部分-->
    <resultMap id="CustShowResultMap" type="com.lps.vo.CustomerShowModel">
        <id column="cust_id" property="custId" jdbcType="INTEGER"/>
        <result column="cust_username" property="custUsername" jdbcType="VARCHAR"/>
        <result column="cust_create" property="custCreate" jdbcType="DATE"/>
        <result column="lastedcreate" property="orderCreate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--添加用户-->
    <insert id="insertCustomer" parameterType="com.lps.po.Customer">
        <selectKey keyProperty="custId" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID();
        </selectKey>
        insert into customer(cust_username,cust_password,cust_phone,cust_create)
        value (#{custUsername,jdbcType=VARCHAR},#{custPassword,jdbcType=VARCHAR},
                #{custPhone,jdbcType=VARCHAR},#{custCreate,jdbcType=DATE})
    </insert>
    <!--查询所有用户展示信息-->
    <select id="findAllToShow" resultMap="CustShowResultMap">
    SELECT customer.cust_id,cust_username,cust_create,MAX(order_create) lastedcreate
        FROM customer INNER JOIN `order` ON customer.cust_id = `order`.cust_id GROUP BY cust_id
    </select>
    <!--根据用户名查询用户-->
    <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer
        where cust_username = #{custUsername,jdbcType=VARCHAR}
    </select>
    <!--根据手机号查询用户-->
    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer
        where cust_phone = #{custPhone,jdbcType=VARCHAR}
    </select>
    <!--根据电子邮箱查询用户-->
    <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer
        where cust_email = #{custEmail,jdbcType=VARCHAR}
    </select>
</mapper>